<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

<head>
    <meta charset="utf-8"/>
    <title>{{ page.title }}</title>
    <link href="{{ site.baseurl }}/favicon.ico?" rel="shortcut icon" type="image/x-icon">
    <link href="{{ site.baseurl }}/assets/main.css" rel="stylesheet"/>
    <link href="{{ site.baseurl }}/assets/css/styles.css" rel="stylesheet"/>
    <link href="{{ site.baseurl }}/assets/css/footer.css" rel="stylesheet"/>
</head>


<body>
    <main class="page-content" aria-label="Content">
        <div class="wrapper">
            {{ content }}
        </div>
    </main>

    <footer class="site-footer">
        <div class="wrapper">
            <div class="row"></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by
                        <a href="https://github.com/{{ site.github_username }}">{{ site.github_username }}</a>.</p>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <ul class="social-icons">
                            <li>
                                <a class="facebook" href="#" rel="noopener noreferrer" target="_blank">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a class="twitter" href="#" rel="noopener noreferrer" target="_blank">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a class="dribbble" href="#" rel="noopener noreferrer" target="_blank">
                                    <i class="fa fa-dribbble"></i>
                                </a>
                            </li>
                            <li>
                                <a class="linkedin" href="#" rel="noopener noreferrer" target="_blank">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

    </body>
</html>